<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <div class="alert <%= flash_class_for(type) %> alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
