<div class="d-flex justify-content-between align-items-start mb-4">
  <div>
    <p class="text-muted mb-1">
      <%= link_to @project.name, project_path(@project), class: 'text-decoration-none' %>
    </p>
    <h1 class="h3 mb-0">New Page</h1>
  </div>
</div>

<%= render 'form', page: @page, project: @project %>
